[Desktop Entry]
Name=gdrivemenu
GenericName=gdrive wrapper
Comment=gdrivemenu , A menu based CLI wrapper for google drive client, gdrive.
Exec=gdrivemenu
Icon=gdrivemenuicon
Categories=System;
Type=Application
Terminal=true
